body {
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.4;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #ff4c68;
  color: white;
}

/****** fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*******/
.container-fluid {
  padding: 5% 15% 8%;
}



/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 50px;
  font-family: 'Ubuntu';
}

.nav-link {
  font-size: 22px;
  margin-left: 30px;
}

/* Download-Button */
.Download-Button {
  margin: 20px 7px 20px 0;
}

/* Title-image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}

/* Site-features */
#features {
  padding: 5% 10%;
  background-color: #fff;
  position: relative;
}

.site-features {
  text-align: center;
  padding: 6%;
}

.icon {
  color: #ef8172;
  padding: 10px
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-logo {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 9%;
}

.press-logo {
  width: 15%;
  margin: 50px 20px 50px
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-tags {
  padding: 3% 3%;
}

/* Responsive site */
@media (max-width:990px) {
  .container-fluid {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* Footer */
#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 5% 20% 10%;
}

.conclusion {
  font-size: 3.2rem;
  font-family: 'Montserrat Black', sans-serif;
  color: #fff;
  margin-bottom: 40px;
}

#footer {
  text-align: center;
  background-color: #fff;
  padding: 6%;
}

.socialmediaicon {
  margin: 20px 8px;
}
